@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {

  --font-family: 'Open Sans', sans-serif;

  --gradient-color: linear-gradient(90deg, #003E1F 0%, #A5F7D3 87%);
  
  --color-bg: #01110A;
  --color-sections : #031B34;
  --color-alt: #73BA9B;
  --color-text: #D5F2E3;
  --color-subtext: #BA2D0B;
}